*{
    padding: 0;
    margin: 0;
}
.container{
    width: 100%;
    height: 100vh;
    /* background:  linear-gradient(90deg, #ff0000, #0000ff); */
    background: linear-gradient(144deg, rgb(53, 65, 77), rgb(18, 18, 18) 100.00%);
}
.box{
    min-height: 50% ;
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    text-align: center;
    padding: 100px 50px 50px;
}
.box h1{
    font-size: 50px;
    margin-bottom: 60px;
    color: #3c00a0;
    position: relative;
}
.input div{
    background: #eaeaea;
    max-height: 60px;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    font-size: 20px;
    transition: max-height 0.2s;
    overflow: hidden;
}
i{
    margin-left: 15px;
    color: #999;
}
input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
    font-size: 17px;
}
span{
    display: flex;
    justify-content: left;
}
span input{
    width: 15px;
    margin-right: 10px;
}
.btn{
    margin-top: 80px;
    width: 100%;
    display: flex;
    justify-content:center;
}
button{
    font-size: 20px;
    flex-basis: 48%;
    background: #3c00a0;
    color: #fff;
    height: 60px;
    border-radius: 30px;
    border: 0;
    outline: 0;
    cursor: pointer;
}
#error{
    color: red;
}
.incorrect{
    border: 1px solid red
}