*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100vw;
    height: 100vh;
}
header{
    display: flex;
    justify-content: space-between;
    height: 100%;
    max-width: 100vw;
    border: 1px solid white;
}
.leftie{
    width: 25%;
    height: 100vh;
    background-color:#1f1f1f;
    color: white;
}
.l-up{
    background-color: #121212;
    margin: 8px;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    gap: 15px;
    font-size: 15px;
    height: 15%;
}
.logo{
    display: flex;
    height: 50px;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
}
.mlogo{
    height: 50px;
    width: 50px;
    filter: invert();
}
.mname{
    height: 40px;
    filter: invert();
}
.svg{
    width: auto;
    height: 25px;
    filter: invert();
    margin-right: 20px;
}
.con{
    display: flex;
    align-items: center ;
    justify-content: center;
}
.lus{
    display: flex;
}
.search{
    margin-top: 5px;
    opacity: 70%;
}
.l-down{
    background-color: #121212;
    height: 78%;
    margin: 8px;
    border-radius: 10px;
    display: grid;
    gap: 15px;
    font-size: 15px;
}
.lib{
    margin: 15px;
    display: flex;
    align-items: center;
    opacity: 70%;
}
.box{
    background-color: #242424;
    height: 25vw;
    margin: 8px;
    margin-top: 0px;
    min-height: 90%;
    padding-top: 10px;
    width: 95%;
    overflow: auto;
}
.box::-webkit-scrollbar{
    display: none;
}
.box li{
    list-style-type: none;
    height: 45px;
    position: relative;
    padding: 5px,0px,5px,20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 5px;
    cursor: pointer;
    transition: .1s linear;
}
.box li img{
    width: 45px;
    height: 45px;
}
.box li .playic{
    filter: invert();
    width: 30px;
    height: 30px;
}
.box li h5{
    padding-top: 0;
    padding-right: 10px;
    font-size: 20px;
    margin-left: 15px;
    width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 25px;
}
.box li h5 #title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sub{
    font-size: 15px;
    color:white;
    opacity: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.box li:hover{
    background: rgb(105, 105, 105,.3);
}
.footer{
    display: grid;
    padding: 15px 23px 15px 23px;
    gap: 14px;
    align-items: center;
}
.footer a{
    text-decoration: none;
    color: aliceblue;
}
.footer a:hover{
    text-decoration: underline;
}
.f{
    font-size: 10px;
    opacity: 70%;
    display: flex;
    gap: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.header{
    background-image: url('music banner.jpg');
    background-size: cover; 
    background-position:bottom;
    z-index: 0;
    height: 30%;
    color: white;
    margin: 8px 8px 0 0;
    padding: 0 30px 0 30px;
    border-radius: 10px 10px 0 0;
}
    
.button{
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 30px;
}
.butt{
    height: 6vh;
    width: 12vh;
    font-size: 12px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-weight: bold;
}
.b1{
    color: #a7a7a7;
    background-color: #121212;
    border: 0;
    cursor: pointer;
    border-radius: 20px;
}
.b2{
    border-radius: 20px;
    border: 0;
    cursor: pointer;
    margin-left: 1vh;
}
.b1:hover{
    font-size: 13px;
    color: white;
}
.b2:hover{
    font-size: 13px;
    width: 13vh;
    height: 6.5vh;
    margin-left: 0;
}
.searchin{
    position: absolute;
    backdrop-filter: blur(5px);
    left: 20px;
    top: 30px;
    width: 40%;
    height: 5%;
    border-radius: 20px;
    border: 1px solid white;
    color: rgba(255, 255, 255, 0.888);
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.searchin::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(184,184,184,.1);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    z-index: -1;
}
.searchin i{
    font-size: 13px;
    padding: 3px 0 0 10px;
    margin-right: 20px;
    cursor: pointer;
}
.searchin input{
    font-size: 15px;
    background: rgb(184,184,184,.04);
    width: 80%;
    border: none;
    outline: none;
    padding: 0 10px;
    color: white;
    font-size: 16px;
    margin-left: 10px;
    z-index: 1;
}
.searchin input::placeholder {
    color: rgba(255, 255, 255, 0.822); 
}
.searchin .search_result{
    position: absolute;
    top: 40px;
    margin-top: 10px;
    background: rgba(44, 42, 42, 0.5); /* Semi-transparent background */
    backdrop-filter: blur(5px);
    /* background: rgb(105, 105, 105,.2); */
    border-radius: 10px;
    color: white;
    width: 100%;
    height: 160px;
    overflow: auto;
    display: none;
    z-index: 2;
}
.searchin .search_result::-webkit-scrollbar{
    display: none;
}
.search_result li{
    backdrop-filter: blur(5px);
    height: 40px;
    width: 100%;
    display: flex;
    margin-bottom: 5px;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}
.searchin li:hover{
    background: rgb(184,184,184,.1);
}
.search_result li h5{
    width: 85%;
    padding-right: 10px;
}
.search_result li img{
    width: 35px;
    margin-right: 10px;
}
.search_result li p{
    font-size: 19px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.stack{
    width: 100%;
    height: 45%;
    border-bottom: 2px solid #1a1f25;
    /* border: 1px solid red */
}
.trending{
    width: auto;
    height: 18%;
    color: white;
    font-family:monospace;
    background-color: #0e1216;
    /* border: 1px solid yellow;    */
}
.trending .h4{
    font-size: 25px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.h4 i{
    color: white;
    opacity: 0.6;
    cursor: pointer;
    transition: .1s linear;
}
.h4 i:hover{
    opacity: 1;
}

.main{
    overflow: auto;
}
.main::-webkit-scrollbar{
    display: none;
}
.tcards{
    width: auto;
    height: 80%;
    margin-top: 4px;
    /* border: 1px solid yellow;    */
    display: flex;
    overflow: auto;
    scroll-behavior: smooth;
    /* border-bottom-color: white; */
}
.tcards::-webkit-scrollbar{
    display: none;
}
.c{
    list-style-type: none;
    min-width: 160px;
    max-width: 160px;
    /* border: 1px solid violet; */
    margin-right: 15px;
    transition: .2s linear;
    height: 97%;
}
.c:hover{
    cursor: pointer;
    background: rgb(105, 105, 170,.3);
    filter: brightness(110%) contrast(105%);
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}
.c .in{
    height: 80%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.c img{
    height: 100%;
    object-fit: cover;
}
.c h5{
    color: white;
    height: 10%;
    padding:2px 0px 0px 2px;
    font-size: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 20px;
}
.c .sub{
    font-size: 14px;
}

.playbar{
    position: absolute;
    bottom: 0;
    background-color: #121212;
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
#poster{
    height: 38px;
    width: 38px;
}
.playbar h5{
    width: 200px;
    font-size: 25px;
    margin-left: 15px;
    margin-right: 20px;
    line-height: 20px;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.like{
    margin-left: 20px;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.like i{
    font-size: 30px;
    cursor: pointer;
    color: whitesmoke;
}
.shuffle{
    padding-right: 4px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items:end;
}

.playbutt img{
    height:5vh;
    filter: invert();
    width: 25px;
    height: 25px;
    margin-left: 10px;
    cursor: pointer;
}
.ic{
    font-size: 22px;
    margin-left: 10px;
    margin-right: 10px;
    width: 18px;
    color: white;
    cursor: pointer;
}
.playbar span{
    color: white;
    width: 32px;
    font-size: 15px;
    font-weight: 400;
}
.playbar #currentStart{
    margin: 0px 0px 0px 20px;
}

.bar{
    position: relative;
    width: 30%;
    height: 2px;
    background: rgb(105, 105, 170,.1);
    margin: 0 15px 0 10px;
}
.bar .bar2{
    position: absolute;
    background: #36e2ec;
    width: 0%;
    height: 100%;
    top: 0;
    transition: 0.3s linear;
}
.bar .dot{
    position: absolute;
    width: 5px;
    height: 5px;
    background: #36e2ec;
    border-radius: 50%;
    left: 0%;
    top: -1.5px;
    transition: 0.3s linear;
}
.bar .dot::before{
    position: absolute;
    width: 15px;
    height: 15px;
    content: '';
    border: 1px solid #36e2ec;
    border-radius: 50%;
    left: -6px;
    top: -6px;
    box-shadow: inset  0px 0px 3px #36e2ec;
    transition: 0.3s linear;
}
.bar input{
    position: absolute;
    width: 100%;
    top: -7px;
    left: 0;
    cursor: pointer;
    z-index: 999;
    opacity: 0;
}

.vol{
    position: relative;
    width: 100px;
    height:2px;
    background: rgb(105, 105, 170,.1);
    margin-left: 50px;
    margin-top: 7px;
}
.vol i{
    position: absolute;
    color: white;
    font-size: 20px;
    top: -10px;
    left: -33px;
}
.vol input{
    position: absolute;
    width: 100%;
    top: -10px;
    left: 0;
    cursor: pointer;
    z-index: 999;
    opacity: 0;
}
.vol .vol_bar{
    position: absolute;
    background: #36e2ec;
    width: 100%;
    height: 100%;
    top: -2.5px;
    transition: 0.3s linear;
}
.vol .dot{
    position: absolute;
    width: 5px;
    height: 5px;
    background: #36e2ec;
    border-radius: 50%;
    left: 100%;
    top: -4px;
    transition: 0.3s linear;
}
.vol .dot::before{
    position: absolute;
    width: 15px;
    height: 15px;
    content: '';
    border: 1px solid #36e2ec;
    border-radius: 50%;
    left: -5.5px;
    top: -6px;
    box-shadow: inset  0px 0px 3px #36e2ec;
    transition: 0.3s linear;
}

.rightie{
    height: 100vh;
    width: 75%;
    background-color: #1f1f1f;
    position: relative;
}
.main{
    padding: 5px;
    height: 60%;
    width: 74vw;
    background-color: #121212;
    position: absolute;
    display: flex;
    gap: 5px;
    overflow-y: auto;
    flex-wrap: wrap;
}
/* .card{
    margin: 8px;
    padding: 8px;
    height: 21vw;
    width: 16vw;
    background-color: #242424;
    color: white;
    background-size: cover;
    display: grid;
    gap: 6px;
    position: relative;
}
.img{
    width: 100%;
    object-fit: contain;
} */
/* 
#i{
    filter: invert();
    font-size: x-large;
}    */